{% extends 'base.html.twig' %}

{% block title %}New Boat{% endblock %}

{% block body %}
    <h1>Create new Boat</h1>

    {{ include('boat/_form.html.twig') }}

    <a href="{{ path('boat_index') }}">back to list</a>
{% endblock %}
